@import 'https://fonts.googleapis.com/css?family=Raleway:300,400';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,300';
@import """//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

/*Navbar*/
.w3-navbar { color: #fff; }
.w3-navbar.w3-animate-top { color: #444; }
.w3-navbar li a:hover { background-color: rgba(0,0,0,0.2); color: #fff; }

header {
	background-image: url(https://instagram.faep8-1.fna.fbcdn.net/vp/81545ddada14845e4b757344b8696e65/5DEF5B82/t51.2885-15/e35/67019391_145289439901086_5858221210327427742_n.jpg?_nc_ht=instagram.faep8-1.fna.fbcdn.net&_nc_cat=106);
  object-fit: cover;
  height: 100vh;
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.contactimg {
      background-image: url(https://instagram.faep8-1.fna.fbcdn.net/vp/392bec6c5706016d59a32902566259f8/5DF1A9DC/t51.2885-15/e35/54447053_133977834325583_5269090907792015859_n.jpg?_nc_ht=instagram.faep8-1.fna.fbcdn.net&_nc_cat=111);
    min-height: 400px;
    object-fit: cover;
	  background-position: center 0;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
}
.clear {
  color: white;
}

#effect {
	height: 100vh;
	background: radial-gradient(circle, rgba(185,185,185,0.2),  rgba(40,40,40, 0.6));
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
}

#effect2 {
	height: 100vh;
	background: radial-gradient(circle, rgba(185,185,185,0.2),  rgba(40,40,40, 0.6));
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
}

header h1, header h3, header h2 {
	color: white;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

header h1 {
	font-size: 4.3em;
	letter-spacing: 0.13em;
	padding-bottom: 0.21em;
}

header i {
	text-align: center;
	position: absolute;
	bottom: 1%;
	color: #FFF;
	animation: 1.5s bounce infinite;
} 

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}

#effect div {
	display: inline-block;
	vertical-align: middle;
	padding: 1em;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	margin-top: -5vh;
}

/* Space between the two images */

.space-about {
    padding: 350px 100px 350px 100px;
  	font-family: 'Raleway', sans-serif;
    position: relative;
  
}

.about{
    position: relative;
    top: 80px;
}

.my-img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    left: 70%;
    top: 20px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.row {
  margin-bottom: 3em;
  text-align : justify;
  font-family: 'Raleway', sans-serif;

}

#googleMap {
    width: 100%;
    height: 400px;
}

/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {
    .space-about {
        background-attachment: scroll;
    }
}


/* Social Media Icons */
.w3-half > a {
  text-decoration: none;
}

i.fa {
  padding-top: .2em;
  padding-left: .5em;
  padding-right: .5em;
  taransition: color 1s;
}

.fa-fire:hover {
  color: #4af;
}

.fa-linkedin:hover{
  color: #4af;
}

.fa-codepen:hover {
  color: #4af;
}

.fa-sololearn:hover{
  color: #4af;
  font-family: arial;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}
